.container {
    display: flex;
    align-items: center; /* 垂直居中对齐 */
  }
  
  .item {
    margin-right: 0; /* 默认没有右边距 */
  }
  
  /* 为第一个组件设置右边距 */
  .item:first-child {
    margin-right: 200px; /* 设置第一个组件与后两个组件的间距 */
  }
  .position-relative {
    position: relative;
  }
  
  .position-absolute {
    position: absolute;
    pointer-events: none; /* 使图标不可点击 */
  }
  .custom-input-group {
    max-width: 300px; /* 设置输入框的最大宽度 */
    width: 100%; /* 确保输入框在容器内自适应 */
  }
  .height-button{
    height: 30px;
  }
 .rounded-box {
    border: 1px solid #161111; /* 边框颜色 */
    border-radius: 15px; /* 圆角半径 */

  }
  .custom-link {
    color: black;
    text-decoration: none;
  }
  .custom-select-height {
    height: 30px; /* 根据需要调整这个值 */
    
  }